[submodule "doc/wiki"]
	path = doc/wiki
	url = https://github.com/Eiffel-World/Eiffel-Web-Framework.wiki.git
[submodule "ext/server/nino"]
	path = ext/server/nino
	url = http://github.com/Eiffel-World/EiffelWebNino.git
[submodule "ext/text/json"]
	path = ext/text/json
	url = http://github.com/Eiffel-World/ejson-svn.git
[submodule "ext/ise_library/curl"]
	path = ext/ise_library/curl
	url = http://github.com/EiffelSoftware/mirror-Eiffel-cURL.git
[submodule "ext/crypto/eel"]
[submodule "ext/crypto/eel"]
	path = ext/crypto/eel
	url = http://github.com/Eiffel-World/eel.git
[submodule "ext/crypto/eapml"]
	path = ext/crypto/eapml
	url = http://github.com/Eiffel-World/eapml.git
